html,
body {
	height: 100%;
}

.background {
  height: 100%;
  min-height: 100%;
  display: flex;
}

.container {
  margin: 100px auto;
  padding: 30px;
  width: 300px;
  height: 500px;
  border: 40px solid black;
  border-color: palegoldenrod;
  border-radius: 5px;
  background-color: white;
}

.color-pad {
  margin: auto;
  padding: 20px;
  width: 150px;
  height: 100px;
  background-color: bisque;
  border-radius: 5px;
}

p {
  text-align: center;
}
